{% extends '@framework/admin/layout.twig' %}

{% block title %}Page Seo{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-header">
            <a href="{{ bq_route_url('admin.pages-list') }}" class="button primary">Retour</a>
            <a href="/{{ page.url }}" target="_blank" class="button info">Voir</a>
        </div>
        <div class="__page-seo page-seo" data-page="{{ page_encoded }}"></div>
    </div>
{% endblock %}
