{% extends '@framework/admin/layout.twig' %}

{% block title %}BugQuest - Dashboard{% endblock %}

{% block content %}
    <div class="container">
        {% if migrationUpdateAvailable %}
            <div class="alert alert-warning">
                <p>De nouvelles mises à jour de base de données sont disponibles.</p>
                <form method="post" action="{{ bq_route_url('admin.migrate') }}">
                    <button type="submit" class="button warning">Mettre à jour la base</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
