{% extends '@framework/admin/layout.twig' %}

{% block title %}BugQuest - Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <div class="card-grid two-cols">
            {% include '@framework/admin/partials/components/card.twig' with {
                title: '📈 ' ~ __('Système', 'admin', 'fr'),
                content: 'RAM : '~ memory_usage ~' Mo',
                footer: 'PHP : '~ php_version,
                class: ''
            } %}
        </div>
    </div>
{% endblock %}
