<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BugQuest | Admin{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bq_assets_header('admin') }}
</head>
<body>
{% include '@framework/admin/partials/header.twig' %}

<div class="admin-wrapper">
    <main class="admin-content">
        {% block content %}{% endblock %}
    </main>
</div>

{{ bq_admin_menu() }}
{{ bq_assets_footer('admin') }}
</body>
</html>
