{% extends '@framework/admin/layout.twig' %}

{% block title %}Dashboard - Images{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">Images - Options</h1>
        <div id="options-container"></div>
    </div>
    {{ bq_assets_footer('admin-options-images') }}
{% endblock %}
