{% extends '@framework/admin/layout.twig' %}

{% block title %}Options de test{% endblock %}

{% block content %}
    <div class="page-options">
        <h1 class="title">🧪 Page de test des blocs d’options</h1>
        <div class="description">
            <p>Cette page regroupe tous les types d’option disponibles pour les tests et l’intégration dans l’interface d’administration.</p>
        </div>
        <div id="options-container"></div>
    </div>
    {{ bq_assets_footer('admin-options-test') }}
{% endblock %}
