.alert{
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    font-size: 1rem;
    line-height: 1.5;

    &.alert-success {
        background-color: #d4edda;
        border-color: #c3e6cb;
        color: var(--color-success);
    }

    &.alert-info {
        background-color: #d1ecf1;
        border-color: #bee5eb;
        color: var(--color-info);
    }

    &.alert-warning {
        background-color: #fff3cd;
        border-color: #ffeeba;
        color: var(--color-warning);
    }

    &.alert-danger {
        background-color: #f8d7da;
        border-color: #f5c6cb;
        color: var(--color-danger);
    }
}