$color-bg: #0f172a;
$color-bg-2: #1e293b;
$color-primary: #00ffc3;
$color-light: #0ff;
$color-secondary: #00ffb2;
$color-accent: #f0f;
$color-danger: #f33;
$color-success: #0f0;
$color-warning: #ff0;
$color-info: #00f;
$color-border: #334155;
$color-text: #eee;
$color-muted: #888;

$font-main: 'Orbitron', sans-serif;

$radius: 6px;
$glow: 0 0 8px rgba(0, 255, 255, 0.6);
$glow-hover: 0 0 12px rgba(0, 255, 0, 0.8);

$breakpoints: (
        sm: 480px,
        md: 768px,
        lg: 1024px,
        xl: 1280px
);

$admin-header-height : 60px;
$admin-footer-height : 50px;

:root {
    --color-bg: $color-bg;
    --color-bg-2: $color-bg-2;
    --color-primary: $color-primary;
    --color-secondary: $color-secondary;
    --color-accent: $color-accent;
    --color-danger: $color-danger;
    --color-success: $color-success;
    --color-warning: $color-warning;
    --color-info: $color-info;
    --color-border: $color-border;
    --color-text: $color-text;
    --color-muted: $color-muted;

    --font-main: $font-main;

    --radius: $radius;
    --glow: $glow;
    --glow-hover: $glow-hover;
}
