{# partials/components/accordeon.twig #}
<div class="__Accordeon {{ open ? 'active' : '' }}">
    <div class="__AccordeonTitle">
        {{ title }}
    </div>
    <div class="__AccordeonContent">
        {{ content }}
    </div>
</div>
