{% set title = title|default('Titre de l’accordéon') %}
{% set class = class|default('') %}

<div class="__accordeon accordeon {{ class }}">
    <div class="__accordeon_title accordeon-title">
        {{ title }}
    </div>
    <div class="accordeon-content">
        {% block accordeon_content %}{% endblock %}
    </div>
</div>
