body {
  margin: 0;
  padding: 0;
  background: var(--gradient-secondary);
  font-family: var(--font-main);
  color: var(--color-primary);
}

.fullvh {
  height: 100vh;
}

.glow-bar {
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, #0ff, #00ffc3);
  box-shadow: 0 0 8px #0ff;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 2px;
}