@use 'variables' as *;

label {
  color: var(--color-text);
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
}

input {
  background: var(--bg-secondary);
  border: none;
  border-top: 2px solid var(--bg-primary);
  padding: 0.5rem 0.75rem;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  transition: border-color 0.2s;

  &.small{
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
  }

  &.full{
    width: 100%;
  }

  &.error {
    border-color: var(--color-danger);
  }
}

input:focus {
  outline: none;
  border-color: #0ff;

  &.error {
    border-color: var(--color-danger);
  }
}