[data-lazy-smooth] {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease !important;
  will-change: opacity, transform;
  pointer-events: none;
}

.lazy-animated {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
