[data-lazy-smooth] {
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s ease !important;
  will-change: opacity, transform;
}

[data-lazy-smooth].lazy-animated {
  opacity: 1;
  transform: none !important; /* fin naturelle de l'animation */
  pointer-events: auto;
}
